#Nav {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: auto;
    overflow: hidden;
}

#NavLinks {
    display: block;
    flex: 0 1 auto;
}

#NavLinks a {
    display: block;
    color: aliceblue;
    text-shadow: 1px 1px rgb(255,215,0,0.7);
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}

#NavLinks a:hover {
    color: gold;
}
#Logo {
    height: 200px;
}
#Title {
    height: 70%;
}

#Nav_box {
    height:200px;
    width:95%;
    text-align: center;
}
#Header {
    background-color: #3c3832;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: goldenrod 2px solid;
}