#HoneyCard{
    margin: 5%;
    background-color: #3c3832;
    width: 360px;
    height: 610px;
    color:aliceblue;
    border-radius: 10px;
    border: goldenrod 2px solid;
    text-shadow: 0.5px 0.5px rgb(255,215,0,0.4);
    text-align: center;
    font-size: larger;
    padding-left: 20px;
    padding-right: 20px;
}

#Honey-Name {

}

#Honey-img {
    height: 360px;
    width: 360px;
    background-color: aliceblue;
}
#Honey-Price {
    height: 50px;
    font-size: x-large;
}
#Honey-Description {
    height: 80px;
    overflow: hidden;
}
a:link {
    text-decoration: none;
}